/* Page layout */

html, body {
  margin: 0;
  padding: 0.5em;
}

/* Menu */

ul#top-menu {
  padding: 0 0 0 1em;
  margin: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

ul#top-menu > li {
  background: white;
  display: block;
  margin: 0 0.2em;
  border-top: 0.1em solid gray;
  border-left: 0.1em solid gray;
  border-right: 0.1em solid gray;  
}

ul#top-menu > li.active {
  background: white;
  display: block;
  margin: 0 0.2em;
  border-top: 0.1em solid gray;
  border-left: 0.1em solid gray;
  border-right: 0.1em solid gray;  
}

#footer {
  margin-top: 1em;
}

/* Classes */

.default-padding {
  padding: 0.5em;
}

.border { 
  border: 1px solid gray;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
