/* Page layout */

* {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0.5em;
}

#content {
  padding: 1.5em;
  margin-top: -0.2em;
}

#footer {
  margin-top: 0.5em;
}

/* Movie list */

#movie_list {
  background: #f8f8f8;
  width: 24%;
}

#movie_list input {
  width: 100%;
  padding: 0;
  margin: 0.5em auto 0;
  border: 1px solid #888;
}

#movies_filter {
  text-align: center;
}

/* Tables */

table {
  width: 100%;
  padding: 0.5em;
}

table thead th {
  padding: 0.3em 0.8em;
  border-bottom: 0.1em solid #888;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

th.sorting {
  background: transparent url(../images/sortable.png) no-repeat scroll right center;
}

th.sorting_asc {
  background: transparent url(../images/sortable_asc.png) no-repeat scroll right center;
}

th.sorting_desc {
  background: transparent url(../images/sortable_desc.png) no-repeat scroll right center;
}

tr.odd {
  background: #e0e0e0;
}

tr.even {
  background: #f0f0f0;
}

/* Menu */

#top-menu {
  padding: 0 0 0 1em;
  margin: 0;
}

#top-menu a {
  margin: 0 0.2em;
  display: inline-table;
  background-color: #e0e0e0;
  border: 0.1em solid #888;
}

#top-menu a.active {
  background: white !important;
  border-top: 0.3em solid #888 !important;
  border-right: 0.1em solid #888 !important;
  border-bottom: 0.1em solid #fcfcfc !important;
  border-left: 0.1em solid #888 !important;
}

#top-menu a:hover {
  background: #eee;
  border-bottom: 0.1em solid #fcfcfc !important;
}

/* Classes */

.default-padding {
  padding: 0.5em;
}

.panel-color {
  background: #fcfcfc;
}

.bar {
  background: #f0f0f0;
  border: 1px solid #888;
  padding: 0.4em 0.6em;
  margin: 0 0 0.5em;
}

.border { 
  border: 0.1em solid #888;
}

.top-border { 
  border-top: 0.3em solid #888;
}

.vert-scroll {
  overflow-y: scroll;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
