/* Page layout */

html, body {
  margin: 0;
  padding: 0.5em;
}

#content {
  padding: 1.5em;
  margin-top: -0.2em;
}

#footer {
  margin-top: 0.5em;
}

/* Movie list */

#movie_list {
  width: 24%;
}

#movie_list input {
  width: 99%;
  padding: 0;
  margin: 0.5em auto 0;
  border: 1px solid #888;
}

#movies_filter {
  text-align: center;
}

/* Menu */

#top-menu {
  padding: 0 0 0 1em;
  margin: 0;
}

#top-menu a {
  margin: 0 0.2em;
  display: inline-table;
  background-color: #e0e0e0;
  border: 0.1em solid #888;
}

#top-menu a.active {
  background: white !important;
  border-top: 0.1em solid black !important;
  border-right: 0.1em solid black !important;
  border-bottom: none !important;
  border-left: 0.1em solid black !important;
}

#top-menu a:hover {
  background: #eee;
  border-bottom: 0em none !important;
}

/* Classes */

.default-padding {
  padding: 0.5em;
}

.panel-color {
  background: #fcfcfc;
}

.border { 
  border: 0.1em solid #888;
}

.vert-scroll {
  overflow-y: scroll;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
