/* Base */

body {
  color: #222;
  background-color: #f3f3f3;
	font-family: monospace;
  font-size: 100%;
}

a, a:visited, a:active {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

/* Menu */

#top-menu a, #top-menu a:visited, #top-menu a:active {
  color: #555;
  text-decoration: none;
}

#top-menu a:hover {
  color: black;
}

#top-menu a.active {
  color: black;
}

/* Classes */

.small {
  font-size: 90%;
}

.gray {
  color: #555;
}
